

<link rel="stylesheet"
      href="~/css/custom-lobby-stiles.css" />
<script src="~/js/invited.js"></script>

<!-- Felugró ablak eleje -->

<div id="back-cover"></div>
<div id="add-player-prompt" class="pt-3 px-3 d-flex flex-column justify-content-around">
    <h3 class="text-center custom-glowing-title">Meghívtak!</h3>
    <form asp-controller="Home" method="post">
        <div class="form-group">
            <label>Meghívtak a <span id="invitingroom"></span> nevű szobába, elfogadod a meghívást?</label>
            <input hidden id="playerName" name="playerName" type="text" value="@ViewBag.name" />
            <input hidden id="roomName" name="roomName" type="text" value="" />
            <div class="pt-3 clearfix">
                <input type="button" id="cancel-player-addition" onclick="toggleLayers()" value="Mégse" class="btn btn-danger p-2 d-inline float-right">
                <input type="submit" id="invite-player" asp-action="RedirectToJoinRoom" value="Elfogadás" class="btn btn-success p-2 d-inline float-right mr-3">
            </div>
        </div>
    </form>
</div>

<!-- Felugró ablak vége -->
<div class="row">
    <div class="col-8">
        <div class="text-center d-flex align-content-center flex-column w-100">
            <h1 id="pName">Hello @ViewBag.name!</h1>
                <a href="@Url.Action("CreateRoom", "Home", new {roomName = ViewBag.name})" class="w-75 mx-auto mb-3">
                    Játék létrehozása
                </a>
                <a href="@Url.Action("Ranking", "Home", new {roomName = ViewBag.name})" class="w-75 mx-auto mb-3">
                    Ranglista
                </a>
                <a href="@Url.Action("Login", "Home")" class="w-75 mx-auto mb-3">
                    Kijelentkezés
                </a>
        </div>
    </div>

    <div class="col-4">
        <div class="mt-4 h-100 p-0">
            <textarea readonly class="h-100 p-0" style="resize:none" id="messageList">"Üdvözöljük a group chat-en"</textarea>
        </div>
        <div class="row">
            <div class="col-10 pr-0">
                <input type="text" class="w-100 pr-0" id="messageInput" />
            </div>
            <div class="col-2 pl-0">
                <input class="w-100 pl-0" type="button" id="sendButton" value="-->" />
            </div>
    </div>
</div>
<script src="~/js/chat.js"></script>